Repository mattrussell2/gradescope-autograder: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update halligan server, build reference output

update halligan server:
  before_script:
  - /bin/bash
  - python3 -m pip install toml-cli &>/dev/null
  - export HALLIGAN_COURSE_NUM=$(toml get halligan.COURSE_NUM)
  - export HALLIGAN_TERM=$(toml get halligan.TERM)
  - export HALLIGAN_FILE_GROUP=$(toml get halligan.FILE_GROUP)
  ...

build reference output:
  needs:
  - job: deploy autograding container
    optional: true
  variables:
    REPO_REMOTE_PATH: https://${CI_PROJECT_NAME}:${REPO_WRITE_DEPLOY_TOKEN}@gitlab.cs.tufts.edu/${CI_PROJECT_PATH}.git
    REMOTE_TAG: ${CONTAINER_REGISTRY}/${CONTAINER_REGISTRY_USER}/${CONTAINER_NAME}:${CI_PROJECT_NAME}
  ...

do podman system df as well to show usage
  .gitlab-ci.yml
Due: update halligan server

force pull with autostash in case
  autograding/bin/run_autograder
Due: none

.gitlab-ci.yml readability updates
  .gitlab-ci.yml
  README.md
Due: update halligan server

rm -f .diff files
  .gitlab-ci.yml
Due: update halligan server

remove FILE_OWNER
  README.md
Due: none

clarify cache usage
  README.md
Due: none

skip empty / invalid changed assign dirs
  .gitlab-ci.yml
Due: update halligan server

rm debug statements
  .gitlab-ci.yml
Due: update halligan server

revert to proper structure with new variable names for assign auto-build
  .gitlab-ci.yml
Due: update halligan server

clarify cleanup
  README.md
Due: none

updated make-symlinks to be runnable off of the halligan server; and iterate over files/ and spec/ folders separately
  staff-bin/make-symlinks
Due: update halligan server

group change security patch; kill_limit->5900; always produce memtime file; kill_limit and max ram tweaks
  autograding/bin/autograde.py
Due: none

add chmods for student access to necessary files
  autograding/bin/autograde.py
Due: none

chmod updates for student access to files
  autograding/bin/autograde.py
Due: none

output format update, make_gradescope_results tweaks
  bin/autograde.py
  bin/make_gradescope_results.py
Due: update halligan server

fix with new permissions setup
  autograding/bin/autograde.py
Due: none

it's vs. its
  autograding/bin/validate_submission.py
Due: none

clarifications and podman /data/ folder addition
  README.md
Due: none

added clarifications
  README.md
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: update halligan server

Revert "Update .gitlab-ci.yml file"
  .gitlab-ci.yml
Due: update halligan server

add base dockerfile for reference
  autograding/etc/base_Dockerfile
Due: none

signals 6/134 updates re: uncaught exceptions
  autograding/bin/autograde.py
Due: none

clarifications
  README.md
Due: none

tokens info in readme
  README.md
Due: none

README updates
  README.md
  _images/autograding_flowchart.png
  _images/ci_cd_pipeline.png
  _images/system_architecture.png
Due: none

documentation updates
  README.md
  _images/ci_cd_pipeline.png
Due: none

update
  README.md
Due: none

README updates
  README.md
Due: none

pipeline pic minor update
  _images/ci_cd_pipeline.png
Due: none

picture updates
  _images/autograding_flowchart.png
  _images/ci_cd_pipeline.png
Due: none

use clang++-16 to be current with halligan servers
  autograding/etc/base_Dockerfile
Due: none

add custom valgrind install for compatibility with new clang
  autograding/etc/base_Dockerfile
Due: none

add libc6-dbg for valgrind compatibility
  autograding/etc/base_Dockerfile
Due: none

valgrind path update
  autograding/bin/autograde.py
Due: none

sync with current cs15 repo
  README.md
  assignments/sanity_check/autograder/solution/dummy_file
  autograding/bin/autograde.py
  autograding/bin/make_gradescope_results.py
  autograding/bin/style_check.py
  autograding/bin/token_manager.py
  autograding/bin/validate_submission.py
  config.toml
Due: update halligan server, build reference output

gs name to email for test users/token exceptions
  README.md
Due: none

added debugging section for CI/CD issues
  README.md
Due: none

debugging clarifications
  README.md
Due: none

gitlab-runner fix
  README.md
Due: none

Path conditions:
  update halligan server: any of: assignments/**/*, bin/**/*, files/**/*, public_html/**/*, staff-bin/**/*, staff-docs/**/*, .gitlab-ci.yml
  build reference output: any of: **/autograder/**/*, **/solution/**/*
